pie<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="pie-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/estilos.css">
    <style>
      :host {
        display: block;
      }
    </style>

    <footer class="footer bg-bbva">
      <div class="container">
        <div class="row">
          <a href="/" class="navbar-brand"><img src="/icons/logoBBVA.svg" class="imgBBVA"></a>
        </div>
        <div class="row">
          <span class="text-muted">Banco Bilbao Vizcaya Argentaria S.A.-2018</span>
        </div>
    </footer>
  </template>

  <script>
    class PieApp extends Polymer.Element {
      static get is() { return 'pie-app'; }
      static get properties() {
        return {
        };
      }
    }

    window.customElements.define(PieApp.is, PieApp);
  </script>
</dom-module>
