<!--email: craithmill2r@jugem.jp password: 90LjNpBDM7jz-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/estilos.css">
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax id="hacerLogin"
      url="http://localhost:3000/apitechu/v5/login" method="POST"
      handle-as="json" on-response="mostrarResultadoLogin"
      on-error="mostrarError"></iron-ajax>

    <div class="form-signin">
      <h2 class="h3 mb-3 font-weight-normal">Inicie sesión, por favor</h2>
      <input placeholder="Email" type="email" class="form-control" value="{{email::input}}"/>
      <input placeholder="Contraseña" type="password" class="form-control" value="{{password::input}}"/>
      <div hidden$="{{!error}}" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Usuario incorrecto. Revise los datos, por favor
      </div>
      <button class="btn btn-lg btn-primary btn-block" on-click="logar">Entrar</button>
      <span hidden$="{{!logado}}">Bienvenido de nuevo</span>
  </div>
  </template>

  <script>
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password:{
            type: String
          },
          logado:{
            type: Boolean,
            value: false
          },
          error:{
            type: Boolean,
            value: false
          }
        };
      }
      mostrarResultadoLogin(resultado){
        console.log("4. Llegaron los resultados");
        console.log("5. Proceso los resultados");
        console.log(resultado);
        this.logado = true;
        this.error = false;
        //console.log(resultado.detail.response);
        this.dispatchEvent(new CustomEvent("loginok", {"detail":resultado.detail.response}));
      }
      logar(){
        console.log("1.El usuario ha pulsado el botón");
        this.$.hacerLogin.headers.email = this.email;
        this.$.hacerLogin.headers.password = this.password;
        console.log(this.email);
        console.log("2. Voy a enviar la petición");
        this.$.hacerLogin.generateRequest();
        console.log("3. Petición enviada");
      }
      mostrarError(error){
        console.log("4.Llega el error");
        console.log(error);
        this.logado = false;
        this.error = true;
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
