<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-movimientos">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/estilos.css">
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax id="obtenerMovimientos"
      url="http://localhost:3000/apitechu/v5/movimientos" method="GET"
      handle-as="json" on-response="mostrarMovimientos"
      on-error="mostrarErrorMovimientos"></iron-ajax>
      <div><a>< Volver a cuentas</a></div>
    <div class="container movimientos-view">
      <h2>Sus movimientos</h2>
      <table class="table table-striped table-hover">
        <thead>
          <th>Nº</th>
          <th>Fecha</th>
          <th>Importe</th>
          <th>Moneda</th>
        </thead>
        <tbody><template is="dom-repeat" items="{{movimientos}}">
          <tr>
            <td>{{index}}</td>
            <td>{{item.fecha}}</td>
            <td>{{item.importe}}</td>
            <td>{{item.moneda}}</td>
          </tr>
        </template></tbody>
      </table>
    </div>
  </template>

  <script>
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          iban: {
            type: Number
          },
          movimientos: {
            type: Array
          }
        };
      }
      mostrarMovimientos(resultado){
        console.log(resultado.detail.response);
        console.log(resultado.detail.response[0].movimientos);
        this.movimientos = resultado.detail.response[0].movimientos;
      }
      mostrarErrorMovimientos(error){
        console.log(error.detail.response);
      }
      obtenerMovimientos(datos){
        //console.log(datos);
        this.$.obtenerMovimientos.headers.iban = datos;
        this.$.obtenerMovimientos.generateRequest();
      }
    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
