<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuentas">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/estilos.css">
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax id="obtenerCuentas"
      url="http://localhost:3000/apitechu/v5/cuentas/usuario" method="GET"
      handle-as="json" on-response="mostrarCuentas"
      on-error="mostrarErrorCuentas"></iron-ajax>
    <div class="container cuentas-view">
      <h2>Sus cuentas</h2>
      <table class="table table-striped table-hover">
        <thead>
          <th>Nº</th>
          <th>IBAN</th>
          <th></th>
        </thead>
        <tbody><template is="dom-repeat" items="{{cuentas}}">
          <tr>
            <td>{{index}}</td>
            <td>{{item.iban}}</td>
            <!--<td><a class="btn btn-info" href="/movimientos/[[item.iban]]">Ver movimientos</a></td>-->
            <td><button id="[[item.iban]]" class="btn btn-info" on-click="mostrarMovs" data-item$="[[item.iban]]">Ver movimientos</button></td>
          </tr>
        </template></tbody>
      </table>
    </div>
  </template>

  <script>
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          idcliente: {
            type: Number
          },
          cuentas: {
            type: Array
          },
          iban: {
            type: String,
            value:"pruebas"
          }
        };
      }
      mostrarCuentas(resultado){
        console.log(resultado.detail.response);
        this.cuentas = resultado.detail.response;
      }
      mostrarErrorCuentas(error){
        console.log(error.detail.response);
      }
      obtenerCuentas(datos){
        console.log(datos.id);
        this.$.obtenerCuentas.headers.idcliente = datos.id;
        this.$.obtenerCuentas.generateRequest();
      }
      mostrarMovs(datos){
        this.iban = datos.path[0].id;
        console.log(this.iban);
        this.dispatchEvent(new CustomEvent("mostrarmovs", {"detail":this.iban}));
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
