<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="borradorfrontproyecto-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <input type="text" value="{{nombre::input}}"/>
    <input type="number" min="18" max="70" value="{{edad::input}}"/>
    <h2>Soy {{nombre}} [[apellidos]]</h2>
    <h2>Soy [[nombre]] [[apellidos]]</h2>
    <h3>y tengo [[edad]] años</h3>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class BorradorfrontproyectoApp extends Polymer.Element {
      static get is() { return 'borradorfrontproyecto-app'; }
      static get properties() {
        return {
          nombre: {
            type: String,
          },
          apellidos:{
            type: String,
          },
          edad:{
            type: Number
          }
        };
      }
    }

    window.customElements.define(BorradorfrontproyectoApp.is, BorradorfrontproyectoApp);
  </script>
</dom-module>
