<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/emisor-app/emisor-app.html">
<link rel="import" href="/src/receptor-app/receptor-app.html">
<link rel="import" href="/src/login-usuario/login-usuario.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">
<link rel="import" href="/src/visor-movimientos/visor-movimientos.html">
<!--<link rel="import" href="/src/cabecera-app/cabecera-app.html">-->
<link rel="import" href="/src/pie-app/pie-app.html">
<link rel="import" href="/src/inicio-app/inicio-app.html">
<dom-module id="padre-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/estilos.css">
    <style>
      :host {
        display: block;
      }
    </style>

    <!--<cabecera-app id="cabecera"></cabecera-app>-->
    <main role="main">
      <inicio-app id="inicio"></inicio-app>
      <login-usuario id="login" hidden$="{{logok}}" on-loginok="iniciosesion"></login-usuario>
      <visor-cuentas id="cuentas" hidden$="{{!cuentas}}" on-mostrarmovs="mostrarmovis"></visor-cuentas>
      <visor-movimientos id="movimientos" hidden$="{{!movs}}"></visor-cuentas>
    </main>
    <pie-app id="pie"></pie-app>
  </template>

  <script>
    class PadreApp extends Polymer.Element {
      static get is() { return 'padre-app'; }
      static get properties() {
        return {
          logok:{
            type: Boolean,
            value: false
          },
          movs: {
            type: Boolean,
            value: false
          },
          cuentas: {
            type: Boolean,
            value: false
          }
        };
      }
      procesar(e){
        console.log("Emisor me ha dicho algo");
        console.log(e);
        this.$.recep.mostrarDatos(e.detail);
      }
      iniciosesion(e){
        console.log("Login hecho");
        console.log(e);
        this.logok = true;
        this.cuentas = true;
        this.$.cuentas.obtenerCuentas(e.detail);
        document.getElementById('barra-login').innerHTML = "Cerrar sesión";
      }
      mostrarmovis(e){
        console.log("movs");
        console.log(e);
        this.movs = true;
        this.cuentas = false;
        this.$.movimientos.obtenerMovimientos(e.detail);
      }
    }

    window.customElements.define(PadreApp.is, PadreApp);
  </script>
</dom-module>
